#artists-index
  .container
    %h2 Artists
    %ul
      - @artists.each do |artist|
        %a(href="artists/#{artist.id}")
          %li
            .artist-name #{artist.name}
            .albums
              - artist.albums.each do |album|
                %a(href="/albums/#{album.id}")
                  .album(style="background-image: url('#{album.image_path}')")
