#user-home
  .container
    %h1 Welcome #{current_user.name}
    .add_new_item
      %h3 Add new song
      %form(action='songs' method="post")
        %input(type="hidden" name="#{request_forgery_protection_token.to_s}" value="#{form_authenticity_token}")
        %label song
        %input(type='text' name='song' required='true')
        %label album
        %input(type='text' name='album')
        %label artist
        %input(type='text' name='artist')
        %button submit
    %ul
      %li
        %a.btn(href='/artists')
          Artists
      %li
        %a.btn(href='/albums')
          Albums
      %li
        %a.btn(href='/songs')
          Songs
