#albums-show {
  .artist-name {
    padding: 0 .5em;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
  }

  .artist-name:hover {
    box-shadow: 1px 1px 7px gray;
  }

  .album {
    width: 60%;
    height: 500px;
    overflow: auto;
    box-shadow: 1px 1px 10px gray;
    @include background-image(60%, 500px);
  }
}
