#albums-show {
  .artist-name {
    padding-left: .5em;
    cursor: pointer;
  }

  .artist-name:hover {
    box-shadow: 1px 1px 7px gray;
  }

  .album {
    width: 60%;
    height: 500px;
    overflow: auto;
    box-shadow: 1px 1px 10px gray;
    @include background-image;
  }
}
