#artists-show {
  @include box-shadow-li(green);
  .album-info {
    float: left;

    div {
      display: inline-block;
    }
  }

  .album-image {
    @include background-image(50px, 50px);
  }

  .album-title {
    vertical-align: super;
    margin-left: .5em;
  }
}
