#user-home {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;

  .search {
    float: left;
    width: 60%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1em 0;
  }

  .search-results {
    padding-top: 1em;

    div {
      display: none;
      float: left;
      margin-left: .2em;
      width: 30%;
    }

    .albums, .songs {
      ul {
        border-left: 1px solid gray;
      }
    }

    a {
      display: inline-block;
      padding: .2em .5em;
    }

    a:hover {
      border-radius: 5px;
      border: 1px solid rebeccapurple
    }
  }

  .add-new-item {
    margin-left: 1em;
    float: left;
    width: 30%;
    font-size: 18px;

    background-color: #777;
    padding: 20px;
    border-radius: 4px;

    h3 {
      margin-top: 0;
    }

    form div {
      margin-bottom: .5em;
    }

    .names {
      input {
        float: right;
      }
    }

    #album-image-url {
      width: 90%;
    }
  }
}

