.container {
  width: 80%;
  margin: auto;
  padding: 3%;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  text-decoration: none;
  color: black;
}
